<p id="notice"><%= notice %></p>


<h1>Projects</h1>

<% if current_user %>
  <div class="row mb-2">
    <div class="col-12">
      Current user: <b><%= current_user.email%></b>
    </div>
  </div>
<% end %>

<%= link_to 'New Project', new_project_path, class: "btn btn-success" %>

<hr>
<div class="row">
<% @projects.each do |project| %>
  <div class="col-xs-12 col-md-3 mb-2">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <%= link_to project do %>
          <h5 class="card-title"><%= project.title %></h5>
        <% end %>
        <p class="card-text"><%= project.description %></p>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-3">
            <%= link_to 'Edit', edit_project_path(project), class: "btn btn-primary" %>
          </div>
          <div class="col-3">
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>